body{
text-align: center;
margin:0; 

}

#home {
  background:linear-gradient(#09e3a2,#1097c4);
  color: azure;
  height:600px;
}
 
#image {
    padding-top:100px;
    border-radius:50%;
}
.name {
   font-family: 'Fuzzy Bubbles', cursive;
   font-size:50px;
}
 
#bio {
    font-size:20px;
    font-family:monospace;
    color:rgb(6, 82, 126);
}

.menu {
  position: fixed;
  list-style: none;
  top:0px;
  margin-top: 0px;
  cursor:pointer;
  background-color: white;
  z-index:10;
  height:50px;
  width:100%;
  text-align:middle;
}
.links {
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10%;
  padding-right:10px;
  display:inline;
  font-size:38px;
  font-family:cursive;
  color:azure;
}

.links:hover {
  font-size:39px;
  text-decoration:underline;
}

#videos,#work,#writings{
  color: rgb(6, 82, 126);

}
.line {
  font-size:150px;
  margin-top:-100px;
}

#anchor {
  font-size:40px;
  color:green;
  text-decoration:underline;
}

a {
  text-decoration:none;
}

footer {
  background-color:grey;
  height:200px;
  z-index:10;
}
